trunk/virtualizationagent/2-virtd/VirtAgent.wsdl

<?xml version="1.0"?>
<definitions name="VirtAgent"
             targetNamespace="urn:VirtAgent"
             xmlns:typens="urn:VirtAgent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- Abstract elements -->

<!-- types -->
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
                targetNamespace="urn:VirtAgent">
            
    <!-- Generic types -->
      <xsd:complexType name="Hash">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
             <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="Array">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
             <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>

    <!-- VirtAgent types -->

      <xsd:complexType name="Domain">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDomains">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
             <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Domain[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>

    </xsd:schema>
  </types> 

<!-- messages -->
  <message name="listDomainsRequest">
  </message>
  <message name="listDomainsResponse">
    <part name="domains" type="typens:ArrayOfDomains"/>
  </message>

<!-- portTypes -->
  <portType name="VirtAgentPort">
    
    <!-- operation name="doGetCachedPage">
      <input message="typens:doGetCachedPage"/>
      <output message="typens:doGetCachedPageResponse"/>
    </operation -->
    <operation name="listDomains">
        <input message="typens:listDomainsRequest"/>
        <output message="typens:listDomainsResponse"/>
    </operation>

  </portType>


<!-- Concrete elements -->

<!-- binding -->
  <binding name="VirtAgentBinding" type="typens:VirtAgentPort">
    <soap:binding style="rpc"
                  transport="http://schemas.xmlsoap.org/soap/http"/>

    <!-- operation name="doGetCachedPage">
      <soap:operation soapAction="urn:VirtAgentAction"/>
      <input>
        <soap:body use="encoded"
                   namespace="urn:VirtAgent"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded"
                   namespace="urn:VirtAgent"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation -->
    <operation name="listDomains">
      <soap:operation soapAction="urn:VirtAgent#listDomains"/>
      <input>
        <soap:body use="encoded"
                   namespace="urn:VirtAgent"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded"
                   namespace="urn:VirtAgent"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

<!-- service -->
  <service name="VirtAgentService">
    <port name="VirtAgentPort" binding="typens:VirtAgentBinding">
      <soap:address location="http://localhost:7001/"/>
    </port>
  </service>

</definitions>
